.individualDeck {
    position: relative;
    left: 50px;
    padding-top: 20px;
}

.individualDeck:nth-of-type(even) {
    background-color: darkgrey;
}

.individualDeck:nth-of-type(odd) {
    background-color: lightgrey;
}

#saveAllButton {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.blurred {
    filter: blur(5px);
}

#loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}