<div id="yourDecks" [ngClass]="{'blurred': loading}">
    <form [formGroup]="addDeckForm" (ngSubmit)="addUserDeck(1)">
        <mat-form-field appearance="fill">
            <mat-label>Deck Name</mat-label>
            <mat-select formControlName="id">
                <mat-option *ngFor="let d of decks" [value]="d.id">{{d.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit">Add to your collection</button>
        <button mat-raised-button color="accent" type="button" (click)="addUserDeck(2)">Add to your wish list</button>
    </form>

    <div id="decksDiv" *ngFor="let d of this.decks">
        <div *ngIf="getUserDecksOfType(d.id).length">
            {{d.name}}

            <div class="individualDeck" *ngFor="let dot of getUserDecksOfType(d.id)">
                <form *ngIf="deckForm[dot.id]" [formGroup]="deckForm[dot.id]" (ngSubmit)="saveUserDeck(dot.id)">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput id="name" formControlName="name">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let s of statuses" [value]="s.id">{{s.status}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" [disabled]="saveDisabled(dot.id)">Save</button>
                    <button mat-raised-button color="accent" type="button" (click)="deleteUserDeck(dot.id)">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <button id="saveAllButton" mat-raised-button color="primary" type="button" (click)="saveAllUserDecks()">Save All</button>
</div>

<div id="loadingSpinner" *ngIf="loading" class="logged-wrapper">
    <div class="spinner-wrapper">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
</div>