<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign Up</h3>
        <div class="formGroup">
          <div class="formGroup">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput id="email" #userEmail required>
            </mat-form-field>
          </div>
          <div class="formGroup">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput id="password" type="password" #userPassword required>
            </mat-form-field>
          </div>
        <div class="formGroup">
          <button mat-raised-button color="primary"
            type="button"
            class="btn btnPrimary"
            value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPassword.value)"
          >Sign Up</button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Already have an account?
          <button mat-raised-button color="accent" (click)="router.navigate(['/sign-in'])">Log In</button></span
        >
      </div>
    </div>
  </div>
