<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <div class="formGroup">
          <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput id="email" formControlName="name" #passwordResetEmail required>
          </mat-form-field>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <button mat-raised-button color="primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        </div>
      </div>
      <div class="redirectToLogin">
        <button mat-raised-button color="accent" (click)="router.navigate(['/sign-in'])">Go back to Log In</button>
      </div>
    </div>
  </div>
