<div *ngIf="isAdmin">
    <button mat-raised-button color="primary" (click)="router.navigate(['/crystal-editor/new'])">Add Crystal</button>
</div>

<div class="crystalLine" *ngFor="let c of crystals">
    <a routerLink="/crystals/{{c.crystal}}">{{c.crystal}}</a>

    <span *ngIf="userCrystals[c.id]">({{userCrystals[c.id]}})</span>

    <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 1)">Add to collection</button>
    <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 2)">Add to wish list</button>
</div>