<div *ngIf="isAdmin" class="adminButtons">
    <button mat-raised-button color="primary" (click)="router.navigate(['/crystal-editor/new'])">Admin: Create Crystal</button>
</div>

<div class="groupedButtons">
    <button mat-raised-button color="primary" *ngIf="grouped" (click)="toggleGrouped()">Ungroup</button>
    <button mat-raised-button color="primary" *ngIf="!grouped" (click)="toggleGrouped()">Group</button>
</div>

<div class="crystals">
    <div class="crystal" *ngFor="let c of getCrystals()">
        <div class="crystalLine">
            <a routerLink="/crystals/{{c.crystal}}">{{c.crystal}}</a>

            <span *ngIf="userCrystals[c.id]" class="userCrystalCount">({{userCrystals[c.id]}})</span>

            <span class="collectionButtons">
                <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 1)">Add to collection</button>
                <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 2)">Add to wish list</button>
            </span>

            <div class="groupedDiv" *ngIf="grouped">
                <div class="subCrystalLine" *ngFor="let s of getSubTypesofCrystal(c.id)">
                    <a routerLink="/crystals/{{s.crystal}}">{{s.crystal}}</a>

                    <span *ngIf="userCrystals[s.id]" class="userCrystalCount">({{userCrystals[s.id]}})</span>

                    <span class="collectionButtons">
                        <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 1)">Add to collection</button>
                        <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 2)">Add to wish list</button>
                    </span>

                    <div class="subSubCrystalLine" *ngFor="let ss of getSubTypesofCrystal(s.id)">
                        <a routerLink="/crystals/{{ss.crystal}}">{{ss.crystal}}</a>

                        <span *ngIf="userCrystals[ss.id]" class="userCrystalCount">({{userCrystals[ss.id]}})</span>

                        <span class="collectionButtons">
                            <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 1)">Add to collection</button>
                            <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 2)">Add to wish list</button>
                        </span>

                        <div class="subSubSubCrystalLine" *ngFor="let sss of getSubTypesofCrystal(ss.id)">
                            <a routerLink="/crystals/{{sss.crystal}}">{{sss.crystal}}</a>

                            <span *ngIf="userCrystals[sss.id]" class="userCrystalCount">({{userCrystals[sss.id]}})</span>

                            <span class="collectionButtons">
                                <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 1)">Add to collection</button>
                                <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="addToCollection(c.id, 2)">Add to wish list</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>