<a routerLink="/crystals">Crystal DB</a> | <a routerLink="/decks">Deck DB</a> | <a routerLink="/your-crystals">Your Crystals</a> | <a routerLink="/your-decks">Your Decks</a> | <a routerLink="/dashboard">User Dashboard</a> | <a href="https://discord.gg/ZJ9NnaUZkS">Join the Discord</a>

<br/><br/><br/><br/>

<div *ngIf="loggedIn === null" class="logged-wrapper">
    <div class="spinner-wrapper">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
</div>

<router-outlet *ngIf="loggedIn !== null"></router-outlet>
