.header {
    background-color: black;
    width: 100%;

    h1 {
        color: lightgrey;
        font-family: "kapelka-new", script;
        font-size: 4em;
        padding: 20px;

        fa-icon {
            color: darkgrey;
            padding: 20px;
        }
    }

    mat-toolbar {
        > button {
            display: none;
        }

        .spacer {
            flex: 1 1 auto;
        }

        a {
            margin-right: 10px;
        }
    }

    @media (max-width: 860px) {
        mat-toolbar {
            > button {
                display: block;
            }

            .bigMenu {
                display: none;
            }
        }

        h1 {
            font-size: 2em;
        }
    }
}

.hilight {
    background-color: lightseagreen;
}

a:hover {
    background-color: lightskyblue;
}

.content {
    padding: 20px;
    width: 85%;
    padding-bottom: 100px;
}

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.container {
   min-height: 100%;
   position: relative;
}

fa-icon {
    margin-right: 5px;
}

fa-icon {
    color: plum;
}

fa-icon.yours {
    color: greenyellow;
}

fa-icon.discord {
    color: #7289DA;
}