<!-- Show user data when logged in -->
<div *ngIf="authService.userData as user">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput id="name" formControlName="name">
        </mat-form-field>

        <div *ngIf="this.userForm.controls['name'].errors?.['invalid']">That user name is already taken!</div>

        <mat-form-field>
            <mat-label>Sun Sign</mat-label>
            <mat-select formControlName="sunSign">
                <mat-option *ngFor="let z of zodiac.zodiac" [value]="z.id">
                    {{ z.sign }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Moon Sign</mat-label>
            <mat-select formControlName="moonSign">
                <mat-option *ngFor="let z of zodiac.zodiac" [value]="z.id">
                    {{ z.sign }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Rising Sign</mat-label>
            <mat-select formControlName="risingSign">
                <mat-option *ngFor="let z of zodiac.zodiac" [value]="z.id">
                    {{ z.sign }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Profile</mat-label>
            <textarea matInput id="profile" formControlName="profile"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Save</button>
    </form>

    <div id="isAdmin" *ngIf="this.userData.user?.isAdmin">You're an admin!</div>

    <button mat-raised-button color="accent" (click)="router.navigate(['/update-email'])">Update email</button>

    <button mat-raised-button color="warn" (click)="authService.SignOut()">Sign Out</button>
</div>
