<div id="yourCrystals" [ngClass]="{'blurred': loading}">
    <form [formGroup]="addCrystalForm" (ngSubmit)="addUserCrystal(1)">
        <mat-form-field appearance="fill">
            <mat-label>Crystal</mat-label>
            <mat-select formControlName="crystal">
                <mat-option *ngFor="let c of crystals" [value]="c.id">{{c.crystal}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit">Add to your collection</button>
        <button mat-raised-button color="accent" type="button" (click)="addUserCrystal(2)">Add to your wish list</button>
    </form>

    <div *ngFor="let c of this.crystals">
        <div class="crystalGroup" *ngIf="userCrystalsOfType[c.id]?.length">
            {{c.crystal}}

            <div *ngFor="let st of subTypesOfCrystal[c.id]">
                <div class="crystalSubTypeGroup" *ngIf="userCrystalsOfType[c.id][st.id ?? -1]?.length">
                    {{st.type}}

                    <div class="individualCrystal" *ngFor="let cot of userCrystalsOfType[c.id][st.id ?? 'none']">
                        <form *ngIf="crystalForms[cot.id]" [formGroup]="crystalForms[cot.id]" (ngSubmit)="saveUserCrystal(cot.id)">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Shape</mat-label>
                                <mat-select formControlName="shape">
                                    <mat-option *ngFor="let shape of shapes" [value]="shape.id">{{shape.shape}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Primary Color</mat-label>
                                <mat-select formControlName="primaryColor">
                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Secondary Color</mat-label>
                                <mat-select formControlName="secondaryColor">
                                    <mat-option [value]="null">- None -</mat-option>
                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Tertiary Color</mat-label>
                                <mat-select formControlName="tertiaryColor">
                                    <mat-option [value]="null">- None -</mat-option>
                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Titanium Aura</mat-label>
                                <mat-select formControlName="aura">
                                    <mat-option [value]="0">No</mat-option>
                                    <mat-option [value]="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Size X (mm)</mat-label>
                                <input matInput formControlName="sizeX">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Size Y (mm)</mat-label>
                                <input matInput formControlName="sizeY">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Size Z (mm)</mat-label>
                                <input matInput formControlName="sizeZ">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Weight (g)</mat-label>
                                <input matInput formControlName="sizeZ">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>karat</mat-label>
                                <input matInput formControlName="karat">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Status</mat-label>
                                <mat-select formControlName="status">
                                    <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.status}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <textarea matInput formControlName="notes"></textarea>
                            </mat-form-field>

                            <button mat-raised-button color="primary" type="submit" [disabled]="saveDisabled(cot.id)">Save</button>
                            <button mat-raised-button color="accent" type="button" (click)="deleteUserCrystal(cot.id)">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="saveAllButton" mat-raised-button color="primary" type="button" (click)="saveAllUserCrystals()">Save All</button>
</div>

<div id="loadingSpinner" *ngIf="loading" class="logged-wrapper">
    <div class="spinner-wrapper">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
</div>