.individualCrystal {
    position: relative;
    left: 50px;
    padding: 20px;

    button {
        margin: 10px;
    }
}

.individualCrystal:first-of-type {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.individualCrystal:last-of-type {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.individualCrystal:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .20);
}

.individualCrystal:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .10);
}

.individualCrystals {
    margin-bottom: 10px;
}

#saveAllButton {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.blurred {
    filter: blur(5px);
}

#loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.crystalSubTypeGroup {
    position: relative;
    left: 25px;
}

div.formDiv > form {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .10);
    border-radius: 1em;

    button {
        margin: 10px;
    }
}

.groupButtons {
    margin: 20px;
}

mat-form-field {
    margin-right: 10px;
}

.sticky {
    height: 40px;
}

.stickied {
    background-color: darkviolet;
    z-index: 100;
    padding-left: 10px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.stickiedSub {
    background-color: #7600a8;
    z-index: 101;
    padding-left: 10px;
    margin-left: 150px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.stickiedSubSub {
    background-color: #5e0086;
    z-index: 102;
    padding-left: 10px;
    margin-left: 300px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.stickiedSubSubSub {
    background-color: #4b006b;
    z-index: 103;
    padding-left: 10px;
    margin-left: 450px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}