<h1>Your Crystals</h1>

<div id="yourCrystals" [ngClass]="{'blurred': loading}">
    <form [formGroup]="addCrystalForm" (ngSubmit)="addUserCrystal(1)">
        <mat-form-field appearance="fill">
            <mat-label>Crystal</mat-label>
            <mat-select formControlName="crystal">
                <mat-option *ngFor="let c of crystals" [value]="c.id">{{c.crystal}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit">Add to your collection</button>
        <button mat-raised-button color="accent" type="button" (click)="addUserCrystal(2)">Add to your wish list</button>
    </form>

    <div class="filters">
        <form [formGroup]="filterForm" (ngSubmit)="filter()">
            <mat-form-field appearance="fill">
                <mat-label>Chakras</mat-label>
                <mat-select formControlName="chakras" multiple>
                    <mat-option *ngFor="let c of chakras" [value]="c.id">{{c.chakra}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cleansings</mat-label>
                <mat-select formControlName="cleansings" multiple>
                    <mat-option *ngFor="let c of cleansings" [value]="c.id">{{c.cleansing}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Domains</mat-label>
                <mat-select formControlName="domains" multiple>
                    <mat-option *ngFor="let d of domains" [value]="d.id">{{d.domain}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Elements</mat-label>
                <mat-select formControlName="elements" multiple>
                    <mat-option *ngFor="let e of elements" [value]="e.id">{{e.element}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Moon Phases</mat-label>
                <mat-select formControlName="moonPhases" multiple>
                    <mat-option *ngFor="let m of moonPhases" [value]="m.id">{{m.moonPhase}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Zodiacs</mat-label>
                <mat-select formControlName="zodiacs" multiple>
                    <mat-option *ngFor="let z of zodiacs" [value]="z.id">{{z.sign}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Shapes (Match Any)</mat-label>
                <mat-select formControlName="shapes" multiple>
                    <mat-option *ngFor="let s of shapes" [value]="s.id">{{s.shape}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Statuses (Match Any)</mat-label>
                <mat-select formControlName="statuses" multiple>
                    <mat-option *ngFor="let s of statuses" [value]="s.id">{{s.status}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Colors</mat-label>
                <mat-select formControlName="colors" multiple>
                    <mat-option *ngFor="let c of colors" [value]="c.id">{{c.color}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="accent" type="button" (click)="clearFilters(); filter();">Clear filters</button>
            <button mat-raised-button color="primary" type="submit">Filter</button>
        </form>
    </div>

    <div>
        <button mat-raised-button color="primary" *ngIf="grouped" (click)="toggleGrouped()">Ungroup</button>
        <button mat-raised-button color="primary" *ngIf="!grouped" (click)="toggleGrouped()">Group</button>
    </div>

    <div *ngFor="let c of getCrystals()">
        <div class="crystalGroup" *ngIf="userCrystalsOfType[c.id]?.crystals.length || userCrystalsOfType[c.id]?.children.length">
            {{c.crystal}}

            <div class="individualCrystal" *ngFor="let cot of userCrystalsOfType[c.id].crystals">
                <form *ngIf="crystalForms[cot.id]" [formGroup]="crystalForms[cot.id]" (ngSubmit)="saveUserCrystal(cot.id)">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Shape</mat-label>
                        <mat-select formControlName="shape">
                            <mat-option *ngFor="let shape of shapes" [value]="shape.id">{{shape.shape}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Primary Color</mat-label>
                        <mat-select formControlName="primaryColor">
                            <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Secondary Color</mat-label>
                        <mat-select formControlName="secondaryColor">
                            <mat-option [value]="null">- None -</mat-option>
                            <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Tertiary Color</mat-label>
                        <mat-select formControlName="tertiaryColor">
                            <mat-option [value]="null">- None -</mat-option>
                            <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Titanium Aura</mat-label>
                        <mat-select formControlName="aura">
                            <mat-option [value]="0">No</mat-option>
                            <mat-option [value]="1">Yes</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Size X (mm)</mat-label>
                        <input matInput formControlName="sizeX">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Size Y (mm)</mat-label>
                        <input matInput formControlName="sizeY">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Size Z (mm)</mat-label>
                        <input matInput formControlName="sizeZ">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Weight (g)</mat-label>
                        <input matInput formControlName="sizeZ">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>karat</mat-label>
                        <input matInput formControlName="karat">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.status}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes"></textarea>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" [disabled]="saveDisabled(cot.id)">Save</button>
                    <button mat-raised-button color="accent" type="button" (click)="deleteUserCrystal(cot.id)">Delete</button>
                </form>
            </div>

            <div *ngFor="let s of getSubTypesOfCrystal(c.id)">
                <div class="crystalSubTypeGroup" *ngIf="userCrystalsOfType[c.id]?.children[s.id]?.crystals.length || userCrystalsOfType[c.id]?.children[s.id]?.children.length">
                    <div>{{getCrystal(s.id).crystal}}</div>

                    <div class="individualCrystal" *ngFor="let cot of userCrystalsOfType[c.id].children[s.id].crystals">
                        <form *ngIf="crystalForms[cot.id]" [formGroup]="crystalForms[cot.id]" (ngSubmit)="saveUserCrystal(cot.id)">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Shape</mat-label>
                                <mat-select formControlName="shape">
                                    <mat-option *ngFor="let shape of shapes" [value]="shape.id">{{shape.shape}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Primary Color</mat-label>
                                <mat-select formControlName="primaryColor">
                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Secondary Color</mat-label>
                                <mat-select formControlName="secondaryColor">
                                    <mat-option [value]="null">- None -</mat-option>
                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Tertiary Color</mat-label>
                                <mat-select formControlName="tertiaryColor">
                                    <mat-option [value]="null">- None -</mat-option>
                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Titanium Aura</mat-label>
                                <mat-select formControlName="aura">
                                    <mat-option [value]="0">No</mat-option>
                                    <mat-option [value]="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Size X (mm)</mat-label>
                                <input matInput formControlName="sizeX">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Size Y (mm)</mat-label>
                                <input matInput formControlName="sizeY">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Size Z (mm)</mat-label>
                                <input matInput formControlName="sizeZ">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Weight (g)</mat-label>
                                <input matInput formControlName="sizeZ">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>karat</mat-label>
                                <input matInput formControlName="karat">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Status</mat-label>
                                <mat-select formControlName="status">
                                    <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.status}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <textarea matInput formControlName="notes"></textarea>
                            </mat-form-field>

                            <button mat-raised-button color="primary" type="submit" [disabled]="saveDisabled(cot.id)">Save</button>
                            <button mat-raised-button color="accent" type="button" (click)="deleteUserCrystal(cot.id)">Delete</button>
                        </form>
                    </div>

                    <div *ngFor="let ss of getSubTypesOfCrystal(s.crystal)">
                        <div class="crystalSubSubTypeGroup" *ngIf="userCrystalsOfType[c.id]?.children[s.id]?.children[ss.id]?.crystals.length || userCrystalsOfType[c.id]?.children[s.id]?.children[ss.id]?.children.length">
                            <div>{{getCrystal(ss.id).crystal}}</div>

                            <div class="individualCrystal" *ngFor="let cot of userCrystalsOfType[c.id].children[s.id].children[ss.id].crystals">
                                <form *ngIf="crystalForms[cot.id]" [formGroup]="crystalForms[cot.id]" (ngSubmit)="saveUserCrystal(cot.id)">
                                    <mat-form-field>
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="name">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Shape</mat-label>
                                        <mat-select formControlName="shape">
                                            <mat-option *ngFor="let shape of shapes" [value]="shape.id">{{shape.shape}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Primary Color</mat-label>
                                        <mat-select formControlName="primaryColor">
                                            <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Secondary Color</mat-label>
                                        <mat-select formControlName="secondaryColor">
                                            <mat-option [value]="null">- None -</mat-option>
                                            <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Tertiary Color</mat-label>
                                        <mat-select formControlName="tertiaryColor">
                                            <mat-option [value]="null">- None -</mat-option>
                                            <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Titanium Aura</mat-label>
                                        <mat-select formControlName="aura">
                                            <mat-option [value]="0">No</mat-option>
                                            <mat-option [value]="1">Yes</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Size X (mm)</mat-label>
                                        <input matInput formControlName="sizeX">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Size Y (mm)</mat-label>
                                        <input matInput formControlName="sizeY">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Size Z (mm)</mat-label>
                                        <input matInput formControlName="sizeZ">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Weight (g)</mat-label>
                                        <input matInput formControlName="sizeZ">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>karat</mat-label>
                                        <input matInput formControlName="karat">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="status">
                                            <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.status}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Notes</mat-label>
                                        <textarea matInput formControlName="notes"></textarea>
                                    </mat-form-field>

                                    <button mat-raised-button color="primary" type="submit" [disabled]="saveDisabled(cot.id)">Save</button>
                                    <button mat-raised-button color="accent" type="button" (click)="deleteUserCrystal(cot.id)">Delete</button>
                                </form>
                            </div>

                            <div *ngFor="let sss of getSubTypesOfCrystal(ss.id)">
                                <div class="crystalSubSubSubTypeGroup" *ngIf="userCrystalsOfType[c.id]?.children[s.id]?.children[ss.id]?.children[sss.id]?.crystals.length || userCrystalsOfType[c.id]?.children[s.id]?.children[ss.id]?.children[sss.id]?.children.length">
                                    <div>{{getCrystal(sss.id).crystal}}</div>

                                    <div class="individualCrystal" *ngFor="let cot of userCrystalsOfType[c.id].children[s.id].children[ss.id].children[sss.id].crystals">
                                        <form *ngIf="crystalForms[cot.id]" [formGroup]="crystalForms[cot.id]" (ngSubmit)="saveUserCrystal(cot.id)">
                                            <mat-form-field>
                                                <mat-label>Name</mat-label>
                                                <input matInput formControlName="name">
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Shape</mat-label>
                                                <mat-select formControlName="shape">
                                                    <mat-option *ngFor="let shape of shapes" [value]="shape.id">{{shape.shape}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Primary Color</mat-label>
                                                <mat-select formControlName="primaryColor">
                                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Secondary Color</mat-label>
                                                <mat-select formControlName="secondaryColor">
                                                    <mat-option [value]="null">- None -</mat-option>
                                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Tertiary Color</mat-label>
                                                <mat-select formControlName="tertiaryColor">
                                                    <mat-option [value]="null">- None -</mat-option>
                                                    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.color}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Titanium Aura</mat-label>
                                                <mat-select formControlName="aura">
                                                    <mat-option [value]="0">No</mat-option>
                                                    <mat-option [value]="1">Yes</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-label>Size X (mm)</mat-label>
                                                <input matInput formControlName="sizeX">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-label>Size Y (mm)</mat-label>
                                                <input matInput formControlName="sizeY">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-label>Size Z (mm)</mat-label>
                                                <input matInput formControlName="sizeZ">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-label>Weight (g)</mat-label>
                                                <input matInput formControlName="sizeZ">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-label>karat</mat-label>
                                                <input matInput formControlName="karat">
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Status</mat-label>
                                                <mat-select formControlName="status">
                                                    <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.status}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-label>Notes</mat-label>
                                                <textarea matInput formControlName="notes"></textarea>
                                            </mat-form-field>

                                            <button mat-raised-button color="primary" type="submit" [disabled]="saveDisabled(cot.id)">Save</button>
                                            <button mat-raised-button color="accent" type="button" (click)="deleteUserCrystal(cot.id)">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="saveAllButton" mat-raised-button color="primary" type="button" (click)="saveAllUserCrystals()">Save All</button>
</div>

<div id="loadingSpinner" *ngIf="loading" class="logged-wrapper">
    <div class="spinner-wrapper">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
</div>